<div class="container container-feed">
  <div class="row">
    <div class="col-md-4 feed-user-cont">
      <%= render "layouts/user_sidebar" %>
    </div>
    <div class="col-md-8 feed-posts-cont">
      <div class="container container-show-post">
        <div class="col-12 post-metadata">
          <span class="post-creator-img"></span>
          <span class="post-creator"><%= link_to @post.author.name %></span>
        </div>
        <div class="col-12 post-title"><%= @post.content %></div>
      </div>
      <div class="container container-comments">
        <div class="container container-comment-edit">
          <%= form_for(@comment, as: :patch, url: post_comment_path) do |f| %>
            <div class="row">
              <div class="col-6">
                <div class="field">
                  <%= f.text_field :content %>
                </div>
              </div>
              <%= f.hidden_field :post_id, value: @post.id %>
              <div class="col-2">
                <div class="actions">
                  <%= f.submit "Post", class: "btn new-comment-submit" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
